nav {
  top: 0px;
  height: 80px;
  text-align: center;
  background-color: pink;
  padding: 2%;
}
body {
  background-color: white;
}
main {
  margin-top: auto;
}
li:hover {
  background-color: yellow;
  border: black;
  font-size: larger;
}
#pop1 {
  background-color: salmon;
  margin-left: 140px;
  width: 80%;
  border: 5px solid black;
  position: sticky;
  top: 60px;
}
#numbers {
  margin-left: 140px;
  width: 77.5%;
  border: 5px solid black;
  position: sticky;
  top: 60px;
}
